html,
body,
#root {
    height: 100%;
    margin: 0;
}


.grid-container {
    display: grid;
    grid-template-columns: 340px 340px;
    grid-template-rows: 80px 200px 80px; 
    grid-gap: 20px;
}

div {
    background-color: #DAA520;
}